<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <ul class="event-list">
        <li *ngFor="let property of properties">
          <div class="row property-element">
            <div class="col-sm-3 property-image">
                <img class="img-responsive" alt="test" src="https://lid.zoocdn.com/645/430/2a848e5cfdbd75c1507248295c5a7d9a837df386.jpg" />
            </div>
            <div class="col-sm-6">
              <div>
                <h2 class="title">{{ property.title }}</h2>
                <p class="desc"> {{ property.address }}</p>
                <ul class="prop-footer">
                  <li> Initial Bid : {{ property.startBid }} USD</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3 best-bid">
              <div class="value">
                <p>{{ property.bids[0].value | currency:'USD':true:'4.2-2' }}</p>
              </div>
              <div class="more-details">
                <a class="btn btn-default" [routerLink]="['/property', property._id]">More Details >></a>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>