<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <ul class="event-list">
        <li *ngFor="let property of properties">
          <div class="row property-element">
            <div class="col-sm-3 property-image">
                <img class="img-responsive" alt="test" src="https://farm5.staticflickr.com/4150/5045502202_1d867c8a41_q.jpg" />
            </div>
            <div class="col-sm-6">
              <div>
                <h2 class="title">{{ property.title }}</h2>
                <p class="desc"> {{ property.address }}</p>
                <ul class="prop-footer">
                  <li> Start Bid : {{ property.startBid }} USD</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3 best-bid">
              <div class="value">
                <p>{{ property.bids[0].value }} USD</p>
              </div>
              <div class="more-details">
                <a class="btn btn-default" [routerLink]="['/property', property._id]">Details</a>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>